@import "../vars";
@import "../mixins";

.findUs {
  background-color: #333;
  @include flex(column, center, center);

  .success-message {
    @include flex(row, space-between, center);
    width: 100%;
    color: white;
    background-color: green;
    font-family: $base-font;
    font-size: 1.2rem;
    padding: 5px;
    padding-left: 1rem;
  }

  .wrapper {
    @include flex(row, space-around, center);
    padding: 3rem 1rem;
    width: 80%;

    @media (max-width: $medium) {
      @include flex(column-reverse, center, center);
      width: 100%;
      padding: 0;
    }
    .left-section {
      width: 50%;

      @media (max-width: $medium) {
        @include flex(column, center, center);
        width: 100%;
        text-align: center;
        padding-top: 2rem;
      }

      .left-title {
        margin-bottom: 10px;
        color: white;
        font-family: $alternative-font;
        font-size: 2.5rem;
        text-transform: uppercase capitalize;

        @media (min-width: $large) and (max-width: $extra-large) {
          font-size: 2rem;
        }

        @media (min-width: $medium) and (max-width: $large) {
          font-size: 1.5rem;
        }

        @media (min-width: $small) and (max-width: $medium) {
          font-size: 1.4rem;
        }

        @media (max-width: $small) {
          font-size: 1.2rem;
        }
      }

      .left-sub-title {
        color: #7e6c33;
        font-family: $base-font;
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 10px;

        @media (min-width: $extra-large) {
          font-size: 2.5rem;
        }

        @media (min-width: $large) and (max-width: $extra-large) {
          font-size: 2rem;
        }

        @media (min-width: $medium) and (max-width: $large) {
          font-size: 1.5rem;
        }

        @media (min-width: $small) and (max-width: $medium) {
          font-size: 1.4rem;
        }

        @media (max-width: $small) {
          font-size: 1.2rem;
        }
      }

      .left-text {
        color: white;
        font-family: $base-font;
        font-size: 1.2rem;

        @media (min-width: $medium) and (max-width: $large) {
          font-size: 1.1rem;
        }

        @media (min-width: $small) and (max-width: $medium) {
          font-size: 1.1rem;
        }

        @media (max-width: $small) {
          font-size: 1rem;
        }
      }
    }

    .right-section {
      @include flex(column, space-around, center);
      width: 50%;
      padding: 5px;

      @media (max-width: $medium) {
        width: 100%;
        padding: 0;

      }

      @media (min-width: $medium) and (max-width: $large) {
        height: 500px;
      }
    }
  }
}
