@import "../../vars";
@import "../../mixins";

.time-rows {
    width: 100%;

    @media (min-width: $medium) and (max-width: $large) {
      margin-left: -1rem;
      font-size: 1.1rem;
      width: 280px;
    }

    @media (min-width: $small) and (max-width: $medium) {
      width: 245px;
      margin-left: 0;
      font-size: 1.1rem;
    }

    @media (max-width: $small) {
      width: 245px;
      font-size: 1rem;
    }

    .right-row {
        @include flex(row, space-between, center);
        background-color: black;
        width: 100%;
        padding: 5px 1rem;
        color: white;
        font-size: 1.2rem;
        font-family: $base-font;
        text-transform: capitalize;

  
        @media (max-width: $small) {
          font-size: 1rem;
  
        }

        &:hover {
          background-color: #333;
        }

        &.booked {
            .right-button {
                background-color: #333;

                &:hover {
                    background-color: #333;
                    transition: none;
                    cursor: default;
                }
            }
        }

        .time-slot {
          width: 50px;
          text-align: right;
        }

        .right-button {
          @include flex(row, center, center);
          width: 70px;
          height: 40px;
          margin: 2px;
          background-color: #7e6c33;

          color: white;
          font-size: 1rem;
          cursor: pointer;

          &:hover {
            background-color: transparent;
            border: 1px solid #7e6c33;
            transition: all 0.5s ease-in-out;
          }
        }
      }
}