@import '../mixins';
@import '../vars';


.squad {
    background: black;
    .wrapper {
        overflow: hidden;
        @include flex(column, center, center);
        color: white;
        font-family: $base-font;

        .first-row {
            @include flex(row, space-around, center);
            width: 100vw;

            @media (max-width: $large) {
                @include flex(column, center, center);
            }

        }

        .second-row {
            @include flex(column, center, center);

        }

        .expert {
            @include flex(column, center, center);
            margin: 1rem;
            width: 500px;
            text-align: center;
            font-size: 1.5rem;

            img {
                width: 300px;
                margin: 1rem;

                &:hover {
                    scale: 1.05;
                    transition: all .5s ease-in-out;
                }
                

                @media (max-width: $large) {
                    @include flex(column, center, center);
                    width: 200px;
                }

                @media (max-width: $large) {
                    @include flex(column, center, center);
                }
            }

            @media (max-width: $large) {
                width: 350px;
                @include flex(column, center, center);
                font-size: 1rem;
                margin: .5rem;
            }
        }







    }
}