@import "../../vars";
@import "../../mixins";

.header {
    
    .top-header {
      width: 100%;
      @include flex(row, space-between, center);
      background-color: #7e6c33;

      > div {
        color: white;
        font-size: 1.5rem;
        font-family: $base-font;
        text-transform: uppercase;

        @media (min-width: $medium) and (max-width: $large) {
          font-size: 1.3rem;
        }
  
        @media (min-width: $small) and (max-width: $medium) {
          font-size: 1.2rem;
        }
  
        @media (max-width: $small) {
          font-size: 1rem;
  
        }
      }

    }
  }