@import "../../vars";
@import "../../mixins";

.calendar {
  width: fit-content;
  height: auto;
  background: black;

  .body {
    .day,
    .week {
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      text-transform: uppercase;
      line-height: 50px;
      height: 50px;
      width: 50px;
      font-family: $base-font;
      background: black;
      font-size: 1.5rem;
      cursor: pointer;
      color: white;

      a {
        text-decoration: none;
        color: white;
      }

      @media (min-width: $medium) and (max-width: $large) {
        height: 40px;
        width: 40px;
        line-height: 40px;
        font-size: 1.3rem;
      }

      @media (min-width: $small) and (max-width: $medium) {
        height: 35px;
        width: 35px;
        line-height: 35px;
        font-size: 1.2rem;
      }

      @media (max-width: $small) {
        height: 35px;
        width: 35px;
        line-height: 35px;
        font-size: 1rem;
      }

      .selected {
        a {
          color: white;
        }

        background-color: #7e6c33;
      }

      .before {
        a {
          color: grey;
        }
        cursor: default;
      }

      .today {
        a {
          color: black;
        }
        background-color: white;
      }
    }
    .week {
      background-color: grey;
    }
  }
}
