@import "../vars";
@import "../mixins";

.book {
  width: 100%;
  background-color: #333;
  @include flex(row, center, center);
  .wrapper {
    @include flex(row, space-around, center);
    width: 80%;
    padding: 3rem 1rem;
    overflow: hidden;

    @media (max-width: $medium) {
      @include flex(column, space-between, center);
      width: 100%;
    }

    .left-section {
      @include flex(row, space-between, center);
      width: 50%;

      @media (max-width: $medium) {
        @include flex(column, space-between, center);
        width: 100%;
      }

      .title {
        font-family: $alternative-font;
        color: white;
        text-transform: uppercase capitalize;
        font-size: 2rem;
        margin-bottom: 1rem;

        @media (min-width: $large) and (max-width: $extra-large) {
          font-size: 2rem;
        }

        @media (min-width: $medium) and (max-width: $large) {
          font-size: 1.5rem;
        }

        @media (min-width: $small) and (max-width: $medium) {
          text-align: center;
          font-size: 1.4rem;
        }

        @media (max-width: $small) {
          text-align: center;
          font-size: 1.2rem;
        }
      }

      .left-title {
        font-size: 1.5rem;
        color: white;
        background-color: #7e6c33;
        width: 350px;
        font-family: $base-font;
        text-transform: uppercase;
        text-align: center;
  
        @media (min-width: $medium) and (max-width: $large) {
          font-size: 1.3rem;
          width: 280px;
          margin-left: -1rem;
        }
  
        @media (min-width: $small) and (max-width: $medium) {
          width: 245px;
          font-size: 1.2rem;
        }
  
        @media (max-width: $small) {
          width: 245px;
          font-size: 1rem;
        }
      }

      



    }
    .right-section {
      @include flex(column, center, center);
      width: 50%;

      @media (max-width: $medium) {
        width: 100%;
      }

      @media (min-width: $medium) and (max-width: $large) {
        font-size: 1.1rem;
      }

      @media (min-width: $small) and (max-width: $medium) {
        font-size: 1.1rem;
      }

      @media (max-width: $small) {
        font-size: 1rem;
      }

      .booking-alert {
        @include flex(row, space-between, center);
        color: white;
        font-family: $base-font;
        font-size: 1.2rem;
        font-weight: bold;
        height: 40px;
        background-color: #7e6c33;
        width: 100%;
        padding: 0 5px;

      }

      form {
        @include flex(column, center, center);
        font-size: 1.2rem;
        font-family: $base-font;
        color: white;
        width: 100%;

        label {
          margin: 10px 0;
          width: 100%;

          input {
            width: 100%;
            height: 50px;
          }

          input:focus {
            outline: none;
            border: 2px solid #7e6c33;
          }

          input.checkbox {
            width: 20px;
            height: 20px;
            margin-right: 10px;
            accent-color: #7e6c33;
          }
        }
      }

      button {
        margin-top: 1rem;
        width: 160px;
        height: 60px;
        background-color: #7e6c33;
        color: white;
        text-transform: capitalize;
        backdrop-filter: blur(10px);
        text-align: center;
        vertical-align: middle;
        line-height: 60px;
        border: none;

        @media (max-width: $medium) {
          width: 120px;
          height: 45px;
          line-height: 45px;
        }

        &:hover {
          background-color: transparent;
          border: 1px solid #7e6c33;
          transition: all 0.5s ease-in-out;
        }
      }

      @media (max-width: $medium) {
        @include flex(column, space-between, center);
        width: 100%;
      }
    }
  }
}
