@import "../vars";
@import "../mixins";

.book {
  background-color: #333;
  @include flex(row, center, center);

  .wrapper {
    @include flex(row, space-around, center);
    width: 70%;
    .left-section {
      width: 50%;

      .left-title {
        margin-bottom: 10px;
        color: white;
        font-family: $alternative-font;
        font-size: 2.5rem;
        text-transform: uppercase capitalize;
      }

      .left-sub-title {
        color: #7e6c33;
        font-family: $base-font;
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 10px;
      }

      .left-text {
        color: white;
        font-family: $base-font;
        font-size: 1.2rem;
      }
    }

    .middle-section {
      @include flex(column, space-around, center);
      font-family: $base-font;
      text-transform: uppercase;

      .middle-title {
        color: white;
        font-family: $alternative-font;
        font-size: 2.5rem;
        text-transform: capitalize;
      }

      .time-header {
        font-size: 1.5rem;
        color: white;
        background-color: #7e6c33;
        width: 300px;

        text-align: center;
      }

      .time-row {
        @include flex(row, space-between, center);
        background-color: black;
        width: 100%;
        padding: 5px 10px;
        color: white;
        font-size: 1.2rem;
        font-family: $base-font;

        .time-button {
          @include flex(row, center, center);
          width: 60px;
          height: 40px;
          background-color: #7e6c33;

          color: white;
          font-size: 1rem;
          cursor: pointer;

          &:hover {
            background-color: transparent;
            border: 1px solid #7e6c33;
            transition: all 0.5s ease-in-out;
          }
        }
      }
    }

    .right-section {
      @include flex(row, space-around, center);
      width: 50%;
    }
  }
}
