@import "../vars";
@import "../mixins";

.book {
    width: 100%;
    background-color: #333;
    @include flex(row, center, center);
    .wrapper {
        @include flex(row, space-between, center);
        width: 70%;
        margin: 3rem 0;

        .left-section {
            @include flex(row, space-between, center);
            width: 50%;

            .left-title {
                font-size: 1.5rem;
                color: white;
                background-color: #7e6c33;
                width: 350px;
                font-family: $base-font;
                text-align: center;
              }
        }
        .right-section {
            @include flex(column, center, center);
            width: 50%;

            form {
                @include flex(column, center, center);
            }
        }
    }
}