@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


//fonts
$base-font: 'Montserrat', sans-serif;
$alternative-font: 'Cinzel', sans-serif;



//font sizes
$base-size: 20px;
$h1: 32px;

//Min breakpoints
$extra-large: 1200px;
$large: 992px;
$medium: 768px;
$small: 576px;

